body {
    background-image: url("images/background.png");
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Tahoma, sans-serif;
}

nav {
    background-image: url("images/navbackground.png");
    opacity: 0.8;
    padding: 0%;
}

a {
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
}

.img-fluid {
    margin-bottom: 20px;
    height: 45vh;
    width: auto;
}

a:hover {
    color:white;
}

.nav-item.nav-link.active{
    background-color:#c99942;
    margin-left: 1%;
}

#home, #about, #contact, #coffee {
    height:100vh;
    margin: 15px;
    padding-top: 70px;
}

.card{
    background-color: #c99942;
    background-image: url("images/background.png");
    border: 0px;
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.bg{
    background-image: url("images/coffee8.JPG");
    height: 100%;
    opacity: 0.7;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#coffee{
    background-image: url("images/coffee7.jpg");
    opacity: 0.6;
    color: white;
}

#title {
    font-size: 8vw;
    color: white;
    padding-top: 20vh;
}

.display-4{
    font-size: 5vh;
}

button {
    background-image: url("images/background.png");
    border: 2px outset white;
    border-radius: 9px;
    padding: 10px 15px 10px 15px;
}

.list-group-item{
    font-family: Verdana;
    border: 0px;
    color: white;
    margin: 5px;
    background-image: url("images/background.png");
}